body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f3f3f3;
}

header {
  background-color: #1e0b33;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #9698f0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

article {
  flex: 3;
  background-color: #c0daf5;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

aside {
  flex: 1;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #497db1;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

  .formulario-pago {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    color: #000; /* Asegura texto negro visible */
    font-size: 16px;
  }

  .formulario-pago label {
    display: block;
    margin-bottom: 10px;
  }

  .formulario-pago input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .formulario-pago button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .formulario-pago button:hover {
    background-color: #45a049;
  }
